{% extends 'accounts/layouts/app.html'%}

{% block content %}

<div class="content-wrapper d-flex justify-content-left align-items-center" style="min-height: 50vh;">
    <div class="container-fluid">

      <div class="row mt-3 justify-content-left">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <div class="card-title">Create Order</div>
              <hr>
              <form method="post" action="">
                {% csrf_token %}
                <!-- Management form (required for formsets) -->
                {{ formset.management_form }}
                
                <!-- Display formset errors -->
                <!-- {% if formset.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for form in formset %}
                                {% for error in form.errors %}
                                    <li>{{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %} -->

                <!-- Render each form in the formset -->
                {% for form in formset %}
                    <div class="form-group">
                        {{ form }} <!-- Render form fields as paragraphs -->
                    </div>
                {% endfor %}

                <div class="form-group">
                    <button type="submit" class="btn btn-light px-5">
                        <i class="icon-lock"></i> Submit
                    </button>
                </div>
            </form>
            </div>
          </div>
        </div>


      </div><!--End Row-->

      <!--start overlay-->
      <div class="overlay toggle-menu"></div>
      <!--end overlay-->

    </div>

  </div>

{% endblock%}