{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'accounts/includes/head.html'%}


<body class="bg-theme bg-theme1">

  <!-- Start wrapper-->
  <div id="wrapper">

    {% include 'accounts/includes/sidebar.html'%}

    </div>
    <!--End sidebar-wrapper-->


    <!--Start topbar header-->
    {% include 'accounts/includes/header.html'%}
   
    <!--End topbar header-->

    <div class="clearfix"></div>

    <div class="content-wrapper">
      <div class="container-fluid">

        <!--Start Dashboard Content-->

        {% block content %}

        {% endblock %}
        <!--End Dashboard Content-->

        <!--start overlay-->
        <div class="overlay toggle-menu"></div>
        <!--end overlay-->

      </div>
      <!-- End container-fluid-->

    </div><!--End content-wrapper-->
    <!--Start Back To Top Button-->
    <a href="javaScript:void();" class="back-to-top"><i class="fa fa-angle-double-up"></i> </a>
    <!--End Back To Top Button-->


  </div><!--End wrapper-->

  <!-- Bootstrap core JavaScript-->
  {% include 'accounts/includes/script.html'%}


</body>

</html>